@import "tailwindcss";

@theme {
  --bg-semitransparent: rgba(0, 0, 0, 0.5);
  --shadow-customize: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --animate-spiner: spint 5s linear infinite;
}

.liflex {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav.show {
  right: 0;
}

nav.show ~ #overlay {
  display: block;
}

@keyframes imageReveal {
  from {
    filter: saturate(0) contrast(4) brightness(0.1) blur(5px);
    opacity: 0;
    scale: 0.95;
    transform: translate(0 4rem);
  }
  to {
    filter: none;
    opacity: 1;
    scale: 1;
    transform: translate(0 0);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes text-appear {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
}

.autoShow {
  animation: text-appear both;
  animation-timeline: view();
  animation-range: entry 20% cover 70%;
}

.imageReveal {
  animation: imageReveal both;
  animation-timeline: view(60% 20%);
}
